body {
  margin: 20px;
}

.navbar2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  top: 20px;
  right: 50px;
  z-index: 1000;
  margin: 10px 20px;
}

/* Allow the navbar to grow and take available space */

.navbar2 a {
  text-decoration: none;
  color: white;
  padding: 15px;
  font-size: 5rem;
  color: #fff;
  font-family: "gladiora reg";
  font-size: 2rem;
  font-style: italic;
  font-weight: 200;
  line-height: normal;
  transition: color 0.3s ease;
}

.navbar2 a:hover {
  color: rgb(44, 45, 78);
  text-shadow: 20px 20px 6px rgba(0, 0, 0, 0.1); /* Add shadow effect */
}

.navbar2 a.active {
  z-index: 1000; /* Ensure it stays above other content */
}

.top_text {
  margin: 40px;
  max-width: 800px;
  margin: 40px auto;
  text-align: center;
}

.top_text h4 {
  width: 600px;
  margin: 0 auto; /* Center horizontally */
  text-align: left;
}

.gif_container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px; /* Add margin to separate from project content */
  margin-bottom: 30px;
}

.gif_container img {
  max-width: 100%; /* Ensure the gif does not exceed its container */
}

.proj_cont {
  display: flex; /* Set the container as flex */
  flex-wrap: wrap; /* Ensure items stay in a single row */
  justify-content: space-around; /* Distribute items evenly along the main axis */
  flex-direction: row;
}

.projects_container {
  display: flex;
  flex-direction: column;
  background-color: rgba(192, 236, 255, 0.2);

  max-width: 600px;
  padding: 10px 30px; /* Adjust padding as needed */
  margin: 0 auto;
  margin-bottom: 20px;
  filter: grayscale(100%);
  transition: filter 0.3s ease; /* Add transition for smooth effect */
}

.projects_container:hover {
  /* Remove filter when hovering over the container */
  filter: none;
}



.projects_container:nth-child(1) {
  background-color: rgba(192, 236, 255, 0.2); /* Color for first container */
}

.projects_container:nth-child(2) {
  background-color: rgba(255, 192, 203, 0.2); /* Color for second container */
}

.projects_container:nth-child(3) {
  background-color: rgba(173, 216, 230, 0.2); /* Color for third container */
}

.projects_container:nth-child(4) {
  background-color: rgba(255, 192, 203, 0.2); /* Color for second container */
}

.projects_container:nth-child(6) {
  background-color: rgba(255, 192, 203, 0.2); /* Color for second container */
}

/* Add more styles for additional containers if needed */

.projects_container h1 {
  color: white;
  font-size: 4rem;
}

.project_layout {
  display: flex;
  flex-direction: column;
  margin: 40px 0;
}

.project_layout h3 {
  text-align: center;
}


.swiper-slide img {
  display: block;
  margin: 0 auto; 
  width: 100%; 
  height: auto; 
  
  padding-bottom: 40px;
}

/* SLideshow */

.swiper-container {
  width: 80%; /* Adjust container width as needed */
  height: fit-content; /* Adjust container height as needed */
  margin: 0 auto; /* Center the container */
  background-color: aquamarine;
}

.project_img_container {
  width: 100%; /* Adjust container width as needed */
  height: auto;
  margin: 0 auto;
}

.swiper {
  width: 100%; /* Adjust container width as needed */
  height: fit-content; /* Adjust container height as needed */
}

.swiper-slide img {
  display: block; /* Ensure images are treated as block-level elements */
  margin: 0 auto; /* Center the images horizontally */
  width: 100%; /* Set width to fill the container */
  height: auto; /* Maintain aspect ratio */
  max-width: 200px; /* Adjust maximum width of images as needed */
  max-height: 150px; /* Adjust maximum height of images as needed */
}

/* Additional styles for Swiper navigation buttons */
.swiper-button-prev,
.swiper-button-next {
  color: #fff;
}

.swiper-pagination-bullet-active {
  background: white;
}

@media screen and (max-width: 768px) {
  .navbar2 a {
    font-size: 1.5rem;
  }

  /* VIRKER IKKE */


.top_text {
  margin: 40px;
  max-width: 800px;
  margin: 40px auto;
  text-align: center;
}

.top_text h4 {
  width: 400px;
  font-size: 1.4rem;
  margin-top: 20px;
  
}

  .projects_container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 20px 20px;
    max-width: 400px;
  }

  .project_layout img {
    max-width: 300px;
    height: auto;
    margin: 20px 0;
    align-self: center;
    justify-self: center;
  }
}
