* {
  box-sizing: border-box;
}

@font-face {
  font-family: "spicy rice";
  src: url(/fonts/SpicyRice-Regular.ttf);
}

body {
  font-family: "SeoulNamsan CB";
  width: 100%; /* Set body width to 100% to fill the viewport */
  height: 100%; /* Set body height to 100% to fill the viewport */
  margin: 0; /* Remove default margin */
  padding: 0; /* Remove default padding */
  background-color: rgb(215, 225, 231);
  background-size: cover; /* Spread the background image to cover the entire element */
  background-repeat: no-repeat; /* Prevent background image from repeating */

  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  color: #932d89;

  text-align: center;
  font-family: "Spicy Rice";
  font-size: 120px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
h2 {
  font-size: 4rem;
}

h3 {
  font-size: 3rem;
}

h4 {
  font-size: 2rem;
}

h5 {
  font-size: 1.5rem;
}

p {
  color: #2b3f87;

  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

main {
  background-color: rgba(255, 255, 255, 0.5);
  margin: 80px;
  padding: 50px;
  border-radius: 10px;
}

.second_profile_img {
  display: none;
}

.main_top_container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-right: 50px;
}

.profile_img img {
  margin: 30px 0;
  width: 500px; /* Adjust width as needed */
  height: auto;
}

.headline {
  margin-right: 50px;
}

.welcome_container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.welcome_text {
  border-radius: 10px;
  background: rgba(232, 216, 229, 0.65);
  width: 526px;
  height: 496px;
  padding: 20px;
}

.middle_container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.note_box {
  border-radius: 10px;
  background: rgba(232, 216, 229, 0.65);
  width: 526px;
  height: 496px;
  padding: 20px;
}

.bottom_container {
  display: flex;
  justify-content: space-between;
}

.contact_me {
  border-radius: 30px;
  width: 480px;
  position: relative; /* Set position to relative */
  display: flex;
  align-items: center; /* Align items vertically in the center */
  padding: 20px; /* Add some padding to separate text from the edge */
  background: rgba(192, 117, 172, 0.88);
}

.contact_me img {
  position: absolute; /* Set position to absolute */
  left: 50%;
  top: 50%; /* Align the top of the image to the middle of the parent container */
  transform: translateY(-50%); /* Adjust vertical alignment */
}

.nr_email {
  margin-left: 60px; /* Adjust margin to provide space for the image */
  text-align: left;
}

@media screen and (max-width: 768px) {
  main {
    background-color: rgba(255, 255, 255, 0.5);
    margin: 30px;
    padding: 50px;
    border-radius: 10px;
  }

  .main_top_container {
    display: flex;
    flex-direction: row; /* Keep elements in a row */
    align-items: flex-start; /* Align items to the top */
    justify-content: space-between; /* Add space between elements */
  }

  .star {
    width: 160px;
    margin-left: -100px; /* Adjust width as needed */
  }

  /* Adjust main_top_container to stack elements vertically on smaller screens */

  /* Make the profile image smaller on smaller screens */
  .profile_img img {
    margin: 30px 0;
    width: 500px; /* Adjust width as needed */
    height: auto;
  }

  /* Adjust welcome_container to stack elements vertically on smaller screens */
  .welcome_container {
    flex-direction: column;
    align-items: center;
  }

  /* Adjust width of welcome_text on smaller screens */
  .welcome_text {
    width: auto;
    height: auto;
  }

  /* Adjust middle_container to stack elements vertically on smaller screens */
  .middle_container {
    flex-direction: column;
    align-items: center;
  }
  .skills_container img {
    width: 350px; /* Adjust width as needed */
    margin: 40px;
    height: auto;
  }

  /* Adjust width of note_box on smaller screens */
  .note_box {
    width: auto;
    height: auto;
  }

  /* Adjust contact_me container and image size on smaller screens */
  .contact_me {
    width: auto;
    flex-direction: column;
    align-items: center;
  }

  .contact_me img {
    position: static; /* Reset position */
    margin: 90px 0px -180px; /* Add margin to move the image down */
    max-width: 100%; /* Make image responsive */
    height: auto; /* Maintain aspect ratio */
  }

  .nr_email {
    margin-left: 0; /* Reset margin */
    text-align: center; /* Center text */
  }

  .filler {
    display: none;
  }
}
